# Bot settings config script file

const IRC_SERVER string <= "irc.chat.twitch.tv";
const IRC_PORT int <= 5000;
const IRC_OAUTHTOKEN string <= "oauth-token-goes-here";
const IRC_USERNAME string <= "username-of-bot";
const IRC_CHANNEL string <= "channel-to-join";
const IRC_WELCOMEMSG string <= "Hey there, I am a Twitch Chat Bot";

const INFO_GITHUB string <= "";
const INFO_DISCORD string <= "";
const INFO_YOUTUBE string <= "";
const INFO_MASTODON string <= "";
const INFO_INSTAGRAM string <= "";

const PRODUCT_NAME string <= "";
const PRODUCT_URL string <= "";
const PRODUCT_PATH string <= "";
const PRODUCT_VER string <= "";
const PRODUCT_ABOUT string <= "";
const PRODUCT_GITHUB_API string <= "";

const NUM_CREEPER_SEQUENCE int <= 25;

function Config_LoadQuotes void()
{
    item_append arrQuotes "An interesting quote #1";
    item_append arrQuotes "An interesting quote #2";
    item_append arrQuotes "An interesting quote #3";
    item_append arrQuotes "An interesting quote #4";
    item_append arrQuotes "An interesting quote #5";
};